<!DOCTYPE html>
<html>

<head>
	<title>Site</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>


<body>
	<div class="container">

		<form id="contact" action="/result" method="post">
			<h3>Регестрація лікарні</h3>
			<h4>Записатися до лікаря, з вами зв'яжутся протягом години</h4>
			<fieldset>
				<input placeholder="Ваше ім'я" type="text" tabindex="1" name="name" required autofocus>
			</fieldset>
			<fieldset>
				<input placeholder="Ваша пошта" type="email" tabindex="2" name="email" required>
			</fieldset>
			<fieldset>
				<input placeholder="Номер вашого телефону" type="tel" tabindex="3" name="phone" required>
			</fieldset>
			<fieldset>
				<input placeholder="Ваш веб сайт почнеться з http://" type="url" tabindex="4" name="URL" required>
			</fieldset>
			<fieldset>
				<textarea placeholder="Напишить що вас торбує" tabindex="5" name="symptoms" required></textarea>
			</fieldset>
			<fieldset>
				<input type="submit" id="contact-submit" value="Submit" />
			</fieldset>
		</form>
	</div>
</body>


</html>